# Database Configuration
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Laravel Backend
APP_ENV=production
APP_DEBUG=false
APP_KEY=

# Frontend
VITE_API_URL=http://localhost:8080/api

# Bot
BOT_API_URL=http://backend:8000/api
